# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.0.282'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: '23.7.0'
    hooks:
      - id: black

ci:
    # autofix_commit_msg: |
    #     [pre-commit.ci] auto fixes from pre-commit.com hooks

    #     for more information, see https://pre-commit.ci
    autofix_prs: false
    # autoupdate_branch: ''
    # autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    # skip: []
    # submodules: false
