name: Test PR
on:
  push:
    branches: ["main", "v1"]
  pull_request:
    branches: ["main", "v1"]
  schedule:
    # Runs weekly to check against latest verion of deps
    # as this project doesn't get into PR frequently enough
    # to run these tests.
    - cron: '0 18 * * MON'

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - uses: actions/checkout@v4
    - name: Set matrix
      id: set-matrix
      run: echo "matrix=$(cat .github/workflows/hatch-matrix.json | jq -c )" >> $GITHUB_OUTPUT
  test:
    name: test (${{ matrix.hatch-env-name }})
    runs-on: ubuntu-latest
    needs: prepare-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - uses: pypa/hatch@install
    - name: Pytest
      run: hatch -e ${{ matrix.hatch-env-name }} run test-cov
    - name: Coverage report
      run: hatch run cov-report
    - name: List Python dependencies
      if: always()
      run: hatch -e ${{ matrix.hatch-env-name }} run uv pip list

  check:
    name: check all unit tests pass
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
