name: Release package

on:
  release: # On create a GitHub Release
    types:
      - created
  push:
    tags:
      # Prerelease tags
      - "v[0-9]+.[0-9]+.[0-9]+.*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
        name: pypi
        url: https://pypi.org/p/asdf-pydantic/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v3
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install hatch
    - name: Build
      run: hatch build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
